#title-slide{
  text-align: center;
  font-size: 18px;
}
#title-slide > p{
  font-size: 24px;
}

.reveal h2{
  text-align: center;
}
.reveal .slides {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
}

.reveal section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; /* Necessário para o posicionamento do pseudo-elemento */
}
.slide.level2 .fragment img {
  width: 100%;
  height: auto;
}
#exemplo-R{
  justify-content: flex;
}  
}
#slide-refratados{
  display: flex;
}
body {
  margin: 1in 1in 3in 1in; /* Margem de 1 polegada */
}
.slide.level2 .fragment {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.quarto-figure.quarto-figure-center{
  margin-right: 20px;
  max-width: 70%;
}
.quarto-figure.quarto-figure-center figcaption {
  display: none;
}
.quarto-figure.quarto-figure-center img {
  width: 100%;
  height: auto;
}
.quarto-figure.quarto-figure-center blockquote {
  max-width: 40%;
}
#atlas-img {
  display: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%; /* Ajuste a largura máxima conforme necessário */
  height: auto;
}
#referências blockquote{
  size: flex;
}
.left-gif 
.p-px{
  margin: 0px 0px 0px 0px;
}
.fragment visible current-fragment > p{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#imgs-to-center{
  display: center;
}

/*------------------------*/

.texto-invisivel{
  display: none;
}
.texto-centrado{
  text-align: center;
}
.texto-full-centrado {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 70vh; /* Altura total da viewport para centralização vertical */
  text-align: center;
}
.imagem-centrada {
  text-align: center;
}
.imagem-full-centrada {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 75vh; /* Altura total da viewport para centralização vertical */
  text-align: center;
}
.imagem-full-centrada-atlas {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 85vh; /* Altura total da viewport para centralização vertical */
  text-align: center;
}